<div class="footer">
    <div class="link clearFix">
        <p>友情链接：</p>
        <p>
            <a href="https://vuefe.cn/v2/guide/">&nbsp;&nbsp;Vue.js中文文档&nbsp;&nbsp;&nbsp; </a>
            <a href="https://github.com/">github社区 &nbsp;&nbsp;&nbsp;</a>
            <a href="https://mp.weixin.qq.com/wiki/home/">微信开发者平台&nbsp;&nbsp;&nbsp; </a>
            <a href="http://www.csdn.net/">csdn官网&nbsp;&nbsp; &nbsp;</a>
            <a href="https://webpack-china.org/">webpack官网&nbsp;&nbsp;&nbsp; </a>
            <a href="http://www.w3school.com.cn/">node.js教程&nbsp;&nbsp;&nbsp;</a>
            <a href="http://www.1024i.com/demo/less/index.html">less教程&nbsp;&nbsp;&nbsp; </a>
            <a href="http://es6.ruanyifeng.com/">阮一峰 es6&nbsp;&nbsp;&nbsp; </a>
            <a href="http://stackoverflow.com/">stackoverflow社区</a>
        </p>
    </div>
    <div class="director">
        <p>主办：小星星个人博客 互联网新闻信息服务许可证1012006048 京ICP备11009437号 京公网安备110102000247 </p>
        <p class="copyright">Copyright ©2016 www.smallstar.club All Rights Reserved &nbsp;<a href="">网站后台</a></p>
    </div>
</div>