<div class="header">
    <div class="header_title clearFix">
        <div class="header_content">
            <div class="left clearFix">
                <img src="../../asset/logo.png" alt="">
                <img src="../../asset/title.png" alt="" class="title">
             </div>
            <div class="middle" id="middle">
                <p class="top">从不羡慕别人优秀，因为相信自己也可以优秀</p>
                <p class="bottom">爱笑乃我本性 傲是命中注定</p>
                <p class="motto">--By:小星星</p>
            </div>
             <div class="right">
                 <img src="../../asset/animal.png" alt="">
              </div>
        </div>
    </div>
    <div class="header_nav">
        <ul class="clearFix" id="nav-ul">
            <li class="active">首页</li>
            <li>javascript</li>
            <li>jquery</li>
            <li>vue.js</li>
            <li>webpack</li>
            <li>es6</li>
            <li>node.js</li>
            <li>小程序</li>
        </ul>
    </div>
</div>
