<div class="recommend">
    <div class="recommend_tit clearFix">
        <div class="recommend_title">博文<span>列表</span></div>
        <div class="line"></div>
    </div>
    <div class="recommend_con clearFix">
        <div class="recommend_left">
           <div class="recommend_left_con clearFix">
               <p class="location clearFix">
                   <img src="../../asset/location.png" alt="">
                   <span>&nbsp;您当前的位置：<a href="">首页</a></span>
                   <i>></i>
                   <span>留言板</span>
               </p>
               <p class="article_name">
               </p>
               <p class="user_name">
               </p>
               <div class="article_con">
                   <h2>小星星的个人博客留言</h2>
                   <div id="box">
                       <div>
                           <span>您的姓名：</span>
                           <input type="text" id="msg_name">
                       </div>
                       <div>
                           <span>留言内容：</span>
                           <div contenteditable="true" id="msg_con"></div>
                       </div>
                       <div class="clearFix">
                           <ul id="expression" class="clearFix">
                              <li>
                                  <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1491972030773&di=5f45f0dc4c5841b0fe3b8d4ad6df75de&imgtype=0&src=http%3A%2F%2Fwww.qq1234.org%2Fuploads%2Fallimg%2F150415%2F8_150415160059_2.jpg" alt="">
                                  <table class="qqLook" id="qqLook">
                                  <tr>
                                      <td><img src="http://img.52psxt.com/data/attachment/forum/201211/27/011826ei427nufzh8hjn48.gif" alt=""></td>
                                      <td><img src="http://img.52psxt.com/data/attachment/forum/201211/21/141224vrf39tpe6wrrfwpv.gif" alt=""></td>
                                      <td><img src="http://www.dabaoku.com/gif/132/gif026.gif" alt=""></td>
                                      <td><img src="http://a4.att.hudong.com/02/37/01300331477292132585370831433.gif" alt=""></td>
                                      <td><img src="http://img.52psxt.com/data/attachment/forum/201211/25/194344gefpxr1kfr8s3xy7.gif" alt=""></td>
                                  </tr>
                                  <tr>
                                      <td><img src="http://2f.zol-img.com.cn/product/92_280x2000/351/cek7ABivpLhHw.gif" alt=""></td>
                                      <td><img src="http://up.qqjia.com/z/bqka/bq04/3d38.gif" alt=""></td>
                                      <td><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1491976352670&di=a75680363395068379e5443775cf4bd2&imgtype=0&src=http%3A%2F%2Fimg01.taopic.com%2F160930%2F219103-160930133I966.jpg" alt=""></td>
                                      <td><img src="http://www.dabaoku.com/gif/132/gif017.gif" alt=""></td>
                                      <td><img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=194736218,3149238772&fm=23&gp=0.jpg" alt=""></td>
                                  </tr>
                                  <tr>
                                      <td><img src="http://www.grovit.cz/ZABAVNY_majka57/GIF/smajlici/smich_radost/1/132.gif" alt=""></td>
                                      <td><img src="http://qq.yh31.com/tp/photo/txsx/20111/201101311316491165.gif" alt=""></td>
                                      <td><img src="http://images.missyuan.com/attachments/day_110727/20110727_85e08220042b6f227b17iDHtMRdh1m52.gif" alt=""></td>
                                      <td><img src="http://avatars.liba.com/10/54/63/92/546392.gif?" alt=""></td>
                                      <td><img src="http://img.52psxt.com/data/attachment/forum/201212/18/194356tceckt40u0zcdk42.gif" alt=""></td>
                                  </tr>
                                 </table>
                              </li>
                               <li>
                                   <img src="http://2c.zol-img.com.cn/product/70_280x2000/10/ceLsEMqRVOVqQ.gif" alt="">
                                   <table class="qqLook" id="qqLook2">
                                       <tr>
                                           <td><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1491972871023&di=aba1c35aeaae9ef806410d9c680c6389&imgtype=0&src=http%3A%2F%2Fwww.asqql.com%2Fupfile%2F2009pasdfasdfic2009s305985-ts%2F2010-10%2F201010181983888231_asqql.com.gif" alt=""></td>
                                           <td><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1491978812809&di=4fb7dbe16a64da0848ea175335b7456e&imgtype=0&src=http%3A%2F%2Fsc.admin5.com%2Fuploads%2Fallimg%2F130216%2F101412K64-5.gif" alt=""></td>
                                           <td><img src="http://sc.admin5.com/uploads/allimg/130216/1014122428-23.gif" alt=""></td>
                                           <td><img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2034174532,3442339783&fm=21&gp=0.jpg" alt=""></td>
                                           <td><img src="https://ss0.baidu.com/94o3dSag_xI4khGko9WTAnF6hhy/zhidao/wh%3D450%2C600/sign=0efb6914cc1b9d168a929265c6ee98b9/bf096b63f6246b60740e49bfe9f81a4c500fa2fd.jpg" alt=""></td>
                                       </tr>
                                       <tr>
                                           <td><img src="http://2c.zol-img.com.cn/product/70_280x2000/10/ceLsEMqRVOVqQ.gif" alt=""></td>
                                           <td><img src="http://2e.zol-img.com.cn/product/70_500x2000/696/ceDr9kmBdxE4Y.gif" alt=""></td>
                                           <td><img src="http://2b.zol-img.com.cn/product/70/429/ce71DmBsPofnw.gif" alt=""></td>
                                           <td><img src="http://2c.zol-img.com.cn/product/70_280x2000/526/ce81mSGz3dWhA.gif" alt=""></td>
                                           <td><img src="http://pic.qqtn.com/file/2011/2011-4/2011426134250.gif" alt=""></td>
                                       </tr>
                                       <tr>
                                           <td><img src="http://img.zcool.cn/community/015c3156e14aa332f875520ffda2d1.gif" alt=""></td>
                                           <td><img src="http://img.zcool.cn/community/0152ad57df426b0000012e7ec0664e.gif" alt=""></td>
                                           <td><img src="http://img.zcool.cn/community/01b23056e14aa36ac72531cb624c6f.gif" alt=""></td>
                                           <td><img src="http://img.zcool.cn/community/01885757a18a720000012e7e2a0fe4.gif" alt=""></td>
                                           <td><img src="http://img.zcool.cn/community/01239e57df426b0000018c1bb1290c.gif" alt=""></td>
                                       </tr>
                                   </table>
                               </li>
                           </ul>
                           <p id="msg_txt">还可以输入<var id="num">200</var></p>
                       </div>
                       <div>
                           <button id="btn">留言发布</button>
                       </div>
                       <div>
                           <h2>留言列表</h2>
                       </div>
                       <ul id="list"> </ul>
                   </div>
               </div>
           </div>
        </div>
        <div class="r_line"></div>
        <div class="recommend_right">
            <div class="search">
                <input type="text" placeholder="请输入检索关键词">
            </div>
            <div class="message">
               <div class="message_con">
                    <span><a href="../../aboutme/dist/me.html">关于我</a></span>
                    <span><a href="../../workeshow/dist/me.html">作品秀</a></span>
                    <span><a href="../../message/dist/me.html">留言板</a></span>
                    <span><a href="../../community/dist/me.html">社区吧</a></span>
                </div>

            </div>
            <div class="person clearFix">
                <img src="../../asset/me.jpg" alt="">
                 <div class="person_con">
                     <span>博主：小星星</span><br/>
                     <span>籍贯：山东滨州</span><br/>
                     <span>爱好：编程、读书</span><br/>
                     <span>职业：前端工程师</span><br/>
                     <span><a href="">www.smallstar.club</a></span>
                 </div>
            </div>
            <div class="new_article clearFix">
                <div class="new_title">最新<span>文章</span></div>
                <ul>
                    <li><a href="../../../../vue1Blog/dist/v1.html">vue2.0组件间的事件派发与接收</a></li>
                    <li><a href="../../../../vue2Blog/dist/v2.html">Vue2.0使用总结</a></li>
                    <li><a href="../../../../vue3Blog/dist/v3.html">Vue2.0组件间数据传递</a></li>
                    <li><a href="../../../../web1Blog/dist/w1.html">Webpack——令人困惑的地方</a></li>
                    <li><a href="../../../../web2Blog/dist/w2.html">Webpack指南</a></li>
                </ul>
            </div>
            <div class="hot_article clearFix">
                <div class="hot_title">最热<span>文章</span></div>
                <ul>
                    <li><a href="../../../../es1Blog/dist/e1.html">ES6的promise对象研究</a></li>
                    <li><a href="../../../../es2Blog/dist/e2.html">ES6数组方法</a></li>
                    <li><a href="../../../../wx1Blog/dist/w1.html"> 微信JS接口 - 企业号开发者接口文档</a></li>
                    <li><a href="../../../../js1Blog/dist/j1.html">前端性能优化指南</a></li>
                    <li><a href="../../../../js2Blog/dist/j2.html">移动端兼容性问题解决方案</a></li>
                </ul>
            </div>
            <div class="weChat">
                <div class="weChat_title">扫码<span>关注</span></div>
                <p>扫面二维码关注<span>小星星</span>微信账号</p>
                <img src="../../asset/chat.png" alt="">
            </div>
        </div>
    </div>
</div>